# Node
node_modules/
.env
.env.*
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test
*.test.db

# Misc
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/coverage/
